{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}
    42 Coffee Cups Test Assignment
{% endblock %}


{% block content %}

    <h1>42 Coffee Cups Test Assignment</h1>
    <form action="{% url 'edit' pk %}" method="post" enctype="multipart/form-data" class="form" id="editform">
        <div class="container">

            {{ form|bootstrap }}
            {% csrf_token %}
            {% if bio.photo %}
                <img src="{{ bio.photo.url }}">
            {% endif %}
        </div>
        <div class="container">
            <input id="sendbutton" type="submit" value="Save">
            <a href="{% url "home" %}">Cancel</a>
        </div>
       <div id="errors" class="container alert alert-danger" role="alert">
                {% for error in form.errors %}
                    <p>{{ error }} not valid.</p>
                {% endfor %}
        </div>
        <div class="container" id="sendwrapper"></div>
        <div class="container" id="done"></div>
    </form>

{% endblock %}