{% extends 'base.html' %}

{% block title %}
    42 Coffee Cups Test Assignment
{% endblock %}


{% block content %}
    <h1>42 Coffee Cups Test Assignment</h1>

    {% for bio in bio_list %}
        <div class="panel panel-primary">
            <div class="container">
                <h2>{{ bio }}</h2>

                <div class="pull-left col-md-5">
                    <ul class="list-unstyled">
                        <li>Name: <strong>{{ bio.first_name }}</strong></li>
                        <li>Last name: <strong>{{ bio.last_name }}</strong></li>
                        <li>Date of birth: <strong>{{ bio.birth_date }}</strong></li>
                         {% if bio.photo %}
                            <li><img src="{{ bio.photo.url }}"></li>
                         {% endif %}
                    </ul>

                </div>
                <div class="col-md-5">
                    <ul class="list-unstyled">
                        <li>Email <strong>{{ bio.email }}</strong></li>
                        <li>Jabber: <strong>{{ bio.jabber }}</strong></li>
                        <li>Skype IM: <strong>{{ bio.skype }}</strong></li>
                         <li>Bio: <strong>{{ bio.biography }}</strong></li>
                        <li>Other Contacts: <strong>{{ bio.other_contacts }}</strong></li>
                    </ul>
                </div>

            </div>
            <div class="container">
                <a href="{% url 'edit' bio.pk %}">edit</a>
            </div>
        </div>

    {% empty %}
        <div class="alert alert-info" role="alert">
            Bio data not aviable.
        </div>
    {% endfor %}

{% endblock %}